body{
    font-family: 'Fraunces', serif;
    font-family: 'Roboto', sans-serif;
}
.panda-card{
    border: 0;
}
.panda-card-footer{
    border: 0;
    background-color: white;
}
.service-categories{
    border: 0;
    border-radius: 2em;
}
.casual-single-shoes, .formal-single-shoe{
    border: 0;
    border-radius: 2em;
    height: 50%;
}
.casual-single-shoes h1, .formal-single-shoe h1{
    color: orange; 
    float: left;
}
.casual-single-shoes button, .formal-single-shoe button{
    float: right; 
    border:0;
    width: 170px;
    height: 60px;
    border-radius: 7px;
}


.casual-shoes img, .formal-shoes img{
    display: block;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 2em;
}
.casual-shoes img{
    background-color: rgb(245, 235, 245);
}
.carousel-text-left{
    float: left;
}
.carousel-text-left button, .causal-shoe-body button, .formal-shoe-body button{
    color: white; 
    border: 0; 
    width: 170px;
    height: 60px;
    border-radius: 15px;
}
.service-categories{
    border: 0; 
    border-radius: 2em; 
    box-shadow:  10px 10px 40px rgb(147, 226, 216); 
    margin: 2%;
}
.service-categories img{
    height: 20%;
    width: 20%; 
    float: left;
}

.service-body{
    padding-left:25%;
}

/* .services{
    height: 500px;
    background-color: tomato;
} */




